# Directories
bin/
bin-int/
.codelite/
.build-debug/

# Files
Hazel.workspace
Makefile
Hazel/Hazel.mk
Hazel/Hazel.project
Hazel/Hazel.txt
Sandbox/Sandbox.mk
Sandbox/Sandbox.project
Sandbox/Sandbox.txt